<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	 <link rel="shortcut icon" href="assets/images/mbr-favicon.png" type="image/x-icon">
    <title>Login</title>
    <link rel="stylesheet" href="login\login.css">
  </head>
  <body>

    <div class="login-box">
      <img src="assets\images\mbr-1920x1920.jpg" class="avatar" alt="Avatar Image">
      <h1>Login Here</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username">
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password">
       <input type="button" onclick="location.href='Dash.html';" value="Log-in" />
	
        <a href="#">Lost your Password?</a><br>
        <a href="#">Don't have An account?</a>
      </form>
    </div>
  </body>
</html>